<html>
<body>
<h3><b>NAS Server: {{nas_server}}</b></h3>

<b>Daily Update Email - Generate at {{current_time}}</b><br>

Current Plotting Drive (by mountpoint)...................{{current_plotting_drive_by_mountpoint}}<br>
Current Plotting Drive (by device)...........................{{current_plotting_drive_by_device}}<br>
Drive Size...............................................................{{drive_size}}<br>

<br>
<b>Environmental & Health</b><br>
Drive Serial Number..........................................{{drive_serial_number}}<br>
Current Drive Temperature................................{{current_drive_temperature}}°C<br>
Last Smart Test Health Assessment..................{{smart_health_assessment}}<br>

<br>
<b>Other Information</b><br>
Total Plots on <b>{{nas_server}}</b>..................................{{total_serverwide_plots}}<br>
Current Total Number of Plot Drives..................{{total_number_of_drives}}<br>
Number of k32 Plots until full.............................{{total_k32_plots_until_full}}<br>
Max # of Plots with current # of Drives..............{{max_number_of_plots}}<br>
</body>
</html>
